<html>
<body>
  
  <form method="post">
  
    Name: <input type="text" name="name"/>
    Units: <input type="text" value="lb" name="units"/>
    Price: <input type="text" name="price"/>
    Available: <input type="text" name="available"/><br/>
    
    <input type="submit" value="Add Item"/>
  </form>
  
  <ul>
  <% @items.each do |item| %>
    <li><%= item.name %> $<%= item.price %> per <%=item.units %> </li>
  <% end %>
  </ul>
  
</body>
</html>