<html>
<body>
  
  <form method="post">
  
    Name: <input type="text" name="name"/>
    
    <input type="submit" value="Add Category"/>
  </form>
  
  <ul>
  <% @categories.each do |category| %>
    <li><%= category.name %> </li>
  <% end %>
  </ul>
  
</body>
</html>