<html>
<body>
<table width="700" align="center" cellpadding="1" cellspacing="0" class="menuborder">
  <tr>
  <td width="200"><br />
    <strong>Item</strong><br> </td>
  <td width="75" align="left"><strong>Price<br />
  </strong></td>
  <td width="75" align="left"><strong>Per Unit</strong><br /></td>
  <td width="75" align="center"><strong>Your Order</strong></td><br />
  <td width="75" align="center"> 
    <strong>Price</strong></td>
  </tr>

 <% @ordered.each do |order_item| %>
<tr>
 <td><%= order_item[:name] %></td>
 <td><%= order_item[:price] %></td>
 <td><%= order_item[:paying] %></td>


<% end %>

<td>Total Price:
	 <%= @total_price.to_s %></td>



   </body>
</html>