<html>
<body>
  
  <form method="post">
  
    Name: <input type="text" value="<%=@item.name%>" name="name"/>
    Units: <input type="text" value="<%=@item.units%>" name="units"/>
    Price: <input type="text" value="<%=@item.price%>" name="price"/>
    Available: <input type="text" value="<%=@item.quantity%>" name="quantity"/><br/>
    
    <input type="submit" value="Edit Item"/>
  </form>
  
</body>
</html>