<html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="A cooperative of farmers in Providence and Cranston. We deliver to restaurants in the Providence metro area. Chefs can receive weekly pricelists with our availability of greens, herbs and veggies -- all grown without chemical inputs" />
<meta name="keywords" content="little city growers, providence, rhode island, farms, cooperative, coop, farmers, farm fresh ri, local food, rhode island restaurants, scratch farm, city farm, front step farm, red planet vegetables" />
<meta name="author" content="littlecitygrowers.org" />
<link rel="shortcut icon" href="favicon.ico" />
<title>Little City Growers Coop</title>
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="menu.css" type="text/css" media="screen" />



<style type="text/css" media="screen">

	#page { background: url("images/kubrickbg-ltr.jpg") repeat-y top; border: none; }

.menuborder {
	border: solid 1px #ccc;
	margin: 2em 0px 2em 0px;
	padding: 1px;
	border-collapse: collapse;
}

.menuborder th,
.menuborder td {
	text-align: left;
	vertical-align: top;
	padding: 5px 3px;
	border: solid 1px #ccc;
}


</style>

<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<body onload="MM_preloadImages('images/linksmo.jpg','images/aboutmo.jpg')" class="home page page-id-1360 page-template page-template-homepage-craig-php">
<div id="page">

<div id="header" role="banner">
	<div id="headerimg">	</div>

<div style="clear:both;"></div> 
</div>
<div id="content" role="main">
<img src="images/line.gif" width="700" height="25" class="centered" /> <br />

</div>

<div id="menu">  <table width="700" border="0" align="center">
    <tr>
      <td width="170"></td>
      <td width="90" rowspan="2"><a href="about.html"><img src="images/about.jpg" width="90" height="40" border="0" align="center" id="Image1" onmouseover="MM_swapImage('Image1','','images/aboutmo.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></td>
      <td width="90" rowspan="2"><a href="farms.html"><img src="images/farms.jpg" width="90" height="40" align="center" id="Image2" onmouseover="MM_swapImage('Image2','','images/farmsmo.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></td>
      <td width="90" rowspan="2"><img src="images/order1.jpg" width="90" height="40" align="center" id="Image3" /></td>
      <td width="90" rowspan="2"><a href="links.html"><img src="images/links.jpg" width="90" height="40" align="center" id="Image4" onmouseover="MM_swapImage('Image4','','images/linksmo.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></td>
      <td width="170" rowspan="2">&nbsp;</td>
    </tr>
  </table></div>
 <div style="clear:both;"></div> 
<?php
   if ($_SERVER['REQUEST_METHOD']=="POST"){
   
      if (strpos($_SERVER['HTTP_REFERER'], $_SERVER['HTTP_HOST'])>7 ||
         !strpos($_SERVER['HTTP_REFERER'], $_SERVER['HTTP_HOST']))
         die("Bad referer");
  
		if (!session_is_registered("SESSION")){
   $errors[] = "Invalid form submission";
}


$msg="Order Items:\n";
$sendername = $_POST['Name'];
$email = $_POST['Email'];
$notes = $_POST['Notes'];
	  
      foreach($_POST as $key => $val){

	if (empty($val)){
	}else{


         if (is_array($val)){
            $msg.="Item: $key\n";
            foreach($val as $v){
               $v = stripslashes($v);
               $msg.="   $v\n";
            }
         } else {
            $val = stripslashes($val);
            $msg.="$key: $val\n";
         }
      }
	}

	  

      
	  $recipient=$email; $recipient="littlecitygrowers@gmail.com";
	  
      $subject=$sendername;

      error_reporting(0);

if (empty($sendername)){

	echo "<h5>Please enter your contact info</h5>";

}else{

      if (mail($recipient, $subject, $email, $msg)){
         echo "<h5>Thank you.<p>Order successfully placed!</p></h5>\n";
         echo nl2br($input);
      } else
         echo "<h5>An error occurred and the order could not be sent.</h5>";
}
   } 
   
/* Prepare autoresponder subject */
$respond_subject = "Little City has received your order.";

/* Send the message using mail() function */
mail($email, $respond_subject, $msg);

   
?>

<div id="main"><table width="700" border="0" align="center" cellpadding="4">
    <tr>
      <td width="700" align="center" valign="top"><p align="left" class="nocomments">
        
  <FORM ACTION="orderform.php" method=post>
  <?php
   session_register("SESSION");
?>

  <table width="700" align="center" cellpadding="1" cellspacing="0" class="menuborder">
  <tr>
  <td width="200"><br />
    <strong>Product List 6/17/11</strong><br> </td>
  <td width="75" align="left"><strong>Price<br />
  </strong></td>
  <td width="75" align="left"><strong>Per Unit</strong><br /></td>
  <td width="75" align="center"><strong>Amount Available</strong></td><br />
  <td width="75" align="center"> 
    <strong>Your Order</strong></td>
  </tr>


 <tr>
  <td colspan="5">&nbsp;</td>
  </tr>

<body>

<form method="post">
<% @items.each do |item| %>
<td width="75" align="center"> <%= item.name %></td> $<%= item.price %> per <%=item.units %> 
  Quantity ordered : <input type="text" name="<%= item.id %>"/><br/>  
<% end %>
  <br>
  <input type="submit" value="Place Order"/>
</form>

</body>
</html>