<html>
  <body>
    <form method='post'>
      Dozens of eggs: <input type='text' name='eggs' size="3" maxlength="3" /><br>
      Pounds of peas: <input type='text' name='peas' size="3" maxlength="3" />

      <input type='submit' value='Submit'/>
    </form>
  </body>
</html>
