<html>
<body>

<a href="/add">add</a><br/>

<ul>
<% @items.each do |item| %>
  <%= item.name %> $<%= item.price %> per <%=item.units %> 
    <a href="/remove?id=<%= item.id %>">remove</a> </li> 
<% end %>
</ul>

</body>
</html>